<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome to Scale Studios!</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/main.css'>
  <link rel="stylesheet" href="searchbar.css">
  <script src='main.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer>
    function slideShow() {
      $("img").first().appendTo('#wrap').fadeOut(3000);
      $("img").first().fadeIn(3000);
      setTimeout(slideShow, 4200);
    }

    $(document).ready(function() {
      slideShow();;
    });
  </script>
</head>

<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a class="active" href="/jobs">Jobs</a>
    <a href="/contact">Contact</a>
  </div>
  <div id="wrap">
    <img src="bg1.png">
    <img src="bg2.png">
    <img src="bg3.png">
  </div>

  <div class="center">
    <h1 class="rainbow-text-keyframe" style="font-size: 50px;"> Scale Studios</h1>
    <h1>Jobs</h1>
    <h2>We at SS need <b>YOUR</b> help!</h2>
    <h2>We are looking for these current positons</h2>
    <h3> Bot Development</h3>

    <h3>Web Development</h3>

    <h3>Studio Development</h3>

    <h3>Graphics Design</h3>

    <h3>Testers</h3>

    <h3>Server Managers</h3>

    <h3>Moderator</h3>

  </div>
</body>

</html>